node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode

*.bak
README.md
.git
.idea
*.vhdx
*.box
blobs\sha256\*
images
boxes
artifcats
temp/
working/
